//$sub-head-color: darken(#669999, 10%);
$home-header-color: #1862a3;
$sub-head-color: #ff8400;
$overlay: #0a4882;
$focus: #0074D9;
$menu: #1c2959;
$menu-nav: desaturate(lighten($menu, 5%), 2%);
$menu-sub: darken($menu, 7%);
$menu-mob: darken($menu-nav, 5%);
$hover-menu: darken(#ffbf5e, 6%);
$slide-color: #d3d3d3;
//$btn-color: darken(grey, 20%);
$btn-outline: lighten(#4A5670, 10%);
$btn-color: $hover-menu;
$about-header: lighten($menu, 10%);
$portfolio-btn: #0074D9;
$home-menu-bg: desaturate(#0078BE, 18%);
