//Josefin Sans
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';

@font-face {
	font-family:'Aracne';
	src:url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"),url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"),url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"),url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"AracneReg";
	src:url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"),url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"),url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"),url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"AracneLight";
	src:url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"),url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"),url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"),url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"AracneRegular";
	src:url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"),url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"),url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"),url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
	font-weight:normal;font-style:normal;
}


h1 {
	font-family: AracneRegular;
	font-size: 60px;
}

h2, a {
	font-family: AracneLight;
	font-size: 40px;
	letter-spacing: .04em;

}

h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
