/*Stylesheet for about page*/
@import "fonts";
@import "colors";
@import "variable";

*{
	//border: 1px solid red!important;
}

#main-about{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 30px;
	.small h2 {
		font-size: 4vh !important;
	}
	.small h3 {
		font-size: 2.75vh !important;
	}
	min-width: 320px;
}

.about-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: auto;
	height: 100%;
	padding-left: 80px;
	padding-right: 80px;
	h2{
		color: $about-header;
		padding-bottom: 10px;
		font-size:23px;
		font-family: AracneRegular;
	}
	h3{
		line-height:1.2;
		text-align: center;
		letter-spacing: 1px;
		font-size: 15px;
	}

}

.box1{
	height: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	h2{
		text-align: left;
	}
	h3{
		text-align: left;
	}
}
.prof{
	width: 30%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../pictures/profile.jpg);
	display: none;
}
.text{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.link-box{
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-end;
	align-self: flex-end;
	a{
		font-family: AracneRegular;
		font-size: 18px;
		//color: $about-header;
		color: grey;
		text-decoration: none;
		cursor: pointer;
		text-align: right;
		padding-top: 10px;
		&:hover{
			color: $hover-menu;
		}
	}
}

.contact {
	width: 100%;
	height: 315px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	form{
		height:265px;
		font-family: AracneRegular;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;

	}
	.contact-header{
		height: 20px;
		margin-bottom: 10px;
	}

	input{
		font-family: 'Josefin Sans', sans-serif;
	  padding-left: 5px;
		-webkit-border-radius:0;
		border-radius:0;
	}
	input, textarea {
		background:#efefef;
		-webkit-border-radius:0;
		border-radius:0;
	}

	input, .captcha-group {
		height: 33px;
	}
	label{
		color: darken(grey, 20%);
		margin-top: 5px;
		height: 16px;
		font-size: 16px;
		//margin-bottom: 5px;
	}
	#submit{
		font-family: AracneRegular;
		cursor: pointer;
		height: 60px;
		margin-top: 10px;
		font-size: 18px;
		color: darken(grey, 20%);
		&:hover{
			color: white;
		}
		-webkit-border-radius:0;
		border-radius:0;
		-webkit-appearance: none;
	}
	.submitmsg{
		height: 20px;
		font-size: 18px;
		color: black;
	}
	.captcha-group{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		input {
			width: 100%;
			height: 100%;
			margin-left: 5px;
		}
		.captcha{
			width: 100px;
			height: 130%;
		}

	}
	.top{
		display: flex;
		flex-flow: row nowrap;
		height: 225px;
		justify-content: space-between;
	}
	.left, .right{
		width: 47%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	.right{
		justify-content: flex-start;
		textarea{
			margin-top: 5px;
			height: 170px;
		}
	}
}



@media only screen and (max-width: 1400px){
	.about-container{
		padding-left: 50px;
		padding-right: 50px;
		h2{
			font-size:20px;
		}
		h3{
			font-size: 13px;
		}

	}

}

@media only screen and (max-width: 985px){
	.about-container{
		padding-left: 30px;
		padding-right: 30px;
		h2{
			font-size:18px;
		}
		h3{
			font-size: 13px;
		}
		.link-box{
			margin-top: 5px;
			a{
				font-size: 14px;
			}
		}
	}

}

@media only screen and (max-width:$cut-off){

	#main-about{
		justify-content: flex-start;
		height: 100%;
		min-height: 100%;
		padding: 0px;
		padding-top: 30px;

	}
	.contact{
		padding: 0px 20px 0px 20px;
		height: 700px; //changed height from 700px //changed to auto
		justify-content: flex-start;
		width: 100% !important;

		.contact-header{
			height: 5%;
			margin-bottom: 30px;
		}
		.captcha-group{
			margin-bottom:10px;
			.captcha{
				width: 100px;
			}
		}
		.top{
			height: 410px;
			flex-flow: column nowrap;
			width: 100% !important;
		}
		.left, .right{
			width: 100% !important;
			height: 200px;
		}
		form{
			height: 80%;
			width: 100% !important;
		}
		#submit{
			height: 15%;
			font-size: 25px;
		}
		input, label{
			font-size: 20px;
			width: 100% !important;
			height: 14%;
		}
		.submitmsg{
			font-size: 20px;
		}
	}

	.about-container{
		height: 100%;
		justify-content: flex-start;
		margin: 0px;
		padding: 0px 10px 30px 10px;
		h2{
			font-size: 5vh;
			text-align: center;
		}
		.link-box{
			justify-content: center;
			align-content: center;
			align-self: center;
			height: 5%;
			margin-bottom: 40px;
			a{
				font-size: 25px;
				text-align: center;
			}
		}
	}


	#container-a{
		height: 100%;
		max-height: 100%;
		min-height: 100%;
	}
	.box1{
		padding-top: 0px;
		height: auto;
		justify-content: space-around;
		flex-direction: column;
		h2{
			text-align: center;
		}
		h3{
			text-align: center;
		}
	}


  .text{
		width: 100%;
		padding: 0px 10px 20px 10px;
		height: auto;
		h2{
			font-size: 5vh;
		}
		h3{
			font-size: 2.5vh;
		}

	}


}

@media only screen and (max-width:$cut-off) and (orientation:landscape) and (max-height: $max-land-height){
	.about-container{
		margin-top: 80px;
	}

	#main-about{
		padding-top: 0px;
		h2{
			font-size: 8.5vh;
		}
	}
	.contact{
		padding: 0px 90px 0px 90px;
		label, #submit{
			font-size: 4vh;
		}
		.right{
			height: 40%;
			label{
				height: 20%;
			}
			textarea{
				height: 80%;
			}
		}
		.left{
			height: 60%;
		}
		.top{
			height: 80%;
		}
		#submit{
			height: 80px;
		}
	}
	.link-box{
		a{
			font-size: 5vh;
		}
	}

	.text{
		h2{
			font-size: 8.6vh;
		}
		h3{
			font-size: 3.5vh;
		}
	}
}

@media only screen and (max-width:$cut-off) and (orientation:landscape) and (max-height: $max-land-height - 200){
		.text{
			h3{
				font-size: 5vh;
			}
		}
		.contact{
			.top{
				height: 90%;
			}
			#submit{
				height: 10%;
			}
			label, #submit{
				font-size: 6vh;
			}
		}
	}
