/*Stylesheet for about page*/
@import "fonts";
@import "colors";
@import "variable";

/*
@media only screen and (max-width:$cut-off){

	html, body{
		height: 175%;
		min-height: 100%;
	}
}
@media only screen and (max-width:$cut-off) and (orientation:landscape) and (max-height: $max-land-height){
	.about-container{
		margin-top: 80px;
	}
	html, body{
		height: 250%;
		min-height: 100%;
	}
}
*/