/*Stylesheet for about page*/
@import "fonts";
@import "colors";
@import "variable";

*{
	//border: 1px solid red!important;
}

#main-about{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 30px;
	//border: 2px solid teal;
	.small h2 {
		font-size: 4vh !important;
	}
	.small h3 {
		font-size: 2.75vh !important;
	}
	min-width: 320px;
}

.about-container{
	//border-top: 1px solid $slide-color;
	//border: 2px solid orange;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: auto;
	height: 100%;
	padding-left: 80px;
	padding-right: 80px;
	h2{
		//border: 1px solid red;
		color: $about-header;
		padding-bottom: 10px;
		font-size:23px;
		font-family: AracneRegular;
	}
	h3{
		line-height:1.2;
		//border: 1px solid green;
		text-align: center;
		letter-spacing: 1px;
		font-size: 15px;
	}

}

.box1{
	height: 40%;
	//border: 2px solid green;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	h2{
		text-align: left;
	}
	h3{
		text-align: left;
	}
}
.prof{
	//border: 1px solid blue;

	width: 30%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../pictures/profile.jpg);
	display: none;
}
.text{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	//border: 1px solid blue;
}


.link-box{
	height: 10%;
	//border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-end;
	align-self: flex-end;
	a{
		font-family: AracneRegular;
		font-size: 18px;
		//color: $about-header;
		color: grey;
		text-decoration: none;
		cursor: pointer;
		text-align: right;
		padding-top: 10px;
		&:hover{
			color: $hover-menu;
		}
	}
}

.contact {
  //border: 3px solid green;
	width: 100%;
	height: 300px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	form{
		height: 250px;
		//border: 1px solid blue;
		font-family: AracneRegular;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;

	}
	.contact-header{
		height: 25px;
		margin-bottom: 10px;
		//border: 1px solid red;
	}
	label{
		color: darken(grey, 20%);
		margin-top: 5px;
	}
	input{
		font-family: 'Josefin Sans', sans-serif;
	  padding-left: 5px;
		-webkit-border-radius:0;
		border-radius:0;
	}
	input, textarea {
		background:#efefef;
		-webkit-border-radius:0;
		border-radius:0;
	}

	input, label, .captcha-group {
		height: 30px;
		//border: 1px solid blue;
	}


	#submit{
		//border: 2px solid blue;
		font-family: AracneRegular;
		cursor: pointer;
		height: 60px;
		margin-top: 10px;
		font-size: 18px;
		color: darken(grey, 20%);
		&:hover{
			color: white;
		}
		-webkit-border-radius:0;
		border-radius:0;
		-webkit-appearance: none;
	}
	.submitmsg{
		height: 25px;
		font-size: 18px;
		color: black;
		//border: 1px solid red;
	}
	.captcha-group{
		//border: 1px solid red;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		input {
			width: 100%;
			height: 100%;
			margin-left: 5px;
		}
		.captcha{
			//border: 1px solid red;
			width: 80px;
			height: 150%;
		}

	}
	.top{
		//border: 1px dashed green;
		display: flex;
		flex-flow: row nowrap;
		height: 190px;
		justify-content: space-between;
	}
	.left, .right{
		width: 47%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	.right{
		//border: 1px solid green;
		justify-content: flex-start;
		textarea{
			height: 150px;
		}
	}
}



@media only screen and (max-width: 1400px){
	.about-container{
		//border: 1px solid purple;
		padding-left: 50px;
		padding-right: 50px;
		h2{
			font-size:20px;
		}
		h3{
			font-size: 13px;
		}

	}

}

@media only screen and (max-width: 985px){
	.about-container{
		padding-left: 30px;
		padding-right: 30px;
		h2{
			font-size:18px;
		}
		h3{
			font-size: 13px;
		}
		.link-box{
			margin-top: 5px;
			a{
				font-size: 14px;
			}
		}
	}

}

@media only screen and (max-width:$cut-off){
	html, body{
		height: 175%;
		min-height: 100%;
	}

	#main-about{
		//border: 1px solid green;
		justify-content: flex-start;
		height: 100%;
		min-height: 100%;

		padding: 0px;
		padding-top: 30px;

	}
	.contact{
		padding: 0px 20px 0px 20px;
		height: 700px;
		//border: 1px solid red;
		.captcha-group{
			margin-bottom:10px;
			.captcha{
				width: 100px;
			}
		}
		.top{
			height: 80%;
			//border: 1px solid blue;
			flex-flow: column nowrap;
			width: 100%;
		}
		.left, .right{
			width: 100%;
			height: 50%;
		}
		form{
			height: 80%;
		}
		#submit{
			height: 15%;
			font-size: 25px;
			//border: 1px solid green;
		}
		input, label{
			font-size: 20px;
			height: 14%;
		}
		.submitmsg{
			font-size: 20px;
		}
	}

	.about-container{
		//border-top: 0px solid red;
		//border: 3px solid orange;
		height: 100%;
		//min-height: 100%;
		justify-content: flex-start;
		margin: 0px;
		padding: 0px 10px 30px 10px;
		h2{
			font-size: 5vh;
			text-align: center;
		}
		.link-box{
			justify-content: center;
			align-content: center;
			align-self: center;
			height: 5%;
			margin-bottom: 40px;
			a{
				font-size: 25px;
				text-align: center;
			}
		}
	}


	#container-a{
		height: 100%;
		max-height: 100%;
		min-height: 100%;
	}
	.box1{
		padding-top: 0px;
		height: auto;
		justify-content: space-around;
		flex-direction: column;
		h2{
			text-align: center;
		}
		h3{
			text-align: center;
		}
	}


  .text{
		width: 100%;
		padding: 0px 10px 20px 10px;

		//border: 1px solid blue;
		height: auto;
		h2{
			font-size: 5vh;
		}
		h3{
			font-size: 2.5vh;
		}

	}


}

@media only screen and (max-width:$cut-off) and (orientation:landscape) and (max-height: $max-land-height){
	.about-container{
		margin-top: 80px;
	}
	html, body{
		height: 200%;
		min-height: 100%;
	}
	#main-about{
		padding-top: 0px;
		h2{
			font-size: 8.5vh;
		}
	}
	.contact{
		padding: 0px 90px 0px 90px;
		label, #submit{
			font-size: 4vh;
		}
		.right{
			height: 40%;
			label{
				height: 20%;
			}
			textarea{
				height: 80%;
			}
		}
		.left{
			height: 60%;
		}
		.top{
			height: 80%;
		}
		#submit{
			height: 80px;
		}
	}
	.link-box{
		a{
			font-size: 5vh;
		}
	}

	.text{
		h2{
			font-size: 8.6vh;
		}
		h3{
			font-size: 3.5vh;
		}
	}
}

@media only screen and (max-width:$cut-off) and (orientation:landscape) and (max-height: $max-land-height - 200){
		.text{
			h3{
				font-size: 5vh;
			}
		}
		.contact{
			.top{
				height: 90%;
			}
			#submit{
				height: 10%;
			}
			label, #submit{
				font-size: 6vh;
			}
		}
	}
