/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../externals/btns/btns.scss";
@import "fonts";
@import "colors";
@import "variable";
@import "responsive";

//
/*Basics*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	// hides body then fades it in when page is loaded
	//display: none;
}
// loader style
#overlay{
	margin: 0px;
	font-family: Aracne;
	letter-spacing: 0.75em;
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  //background:rgba(0,0,0,0.9);
	background-color: black;
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:40px;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-50px;
  width:100%;
  text-align:center;
  color:#fff;
}

.home-soc-group{
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	flex-direction: column;
	height: 70%;
	width: auto;
	min-height: $home-mob-grid-min*.7;

	//border: 1px solid red;
	justify-content: space-between;
	align-items: center;
	.home-soc-button{
			box-shadow: 2px 2px 30px rgb(40,40,40);
		}
	.home-soc-hover{
		&:hover{
			background-color: black;
			transition: background-color .4s;
			.line-hover{
					background-color: white;
					transition: background-color .3s;
			}
		}
	}
	.home-soc-button{

		height: $home-icon-size;
		width: $home-icon-size;
		background-color: white;
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-direction: column;
		.long-line, .short-line{
			background-color: black;
			border-radius: 50px;
			height: 3.25px;
			margin-right: 11px;

		}
		.long-line{
			width: 40%;
			margin-top: 1px;
		}
		.short-line{
			width: 25%;
			margin-top: 5px;
		}
	}
	.home-mobile-iconcon{
		height: $home-icon-size;
		width: $home-icon-size;
		background-color: white;
		border-radius: 50px;
		display: none; //flex
		justify-content: center;
		align-items: center;

		img{
			height: 60%;
			width: auto;
		}
	}
}

.soc-button-clicked{
	background-color: black !important;
}

.soc-line-clicked{
	background-color: white !important;
}
.home-mobile-grid{
	width: 100vw;
	height: 100vh;
	min-height: $home-mob-grid-min;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	#home-background{
		width: 100%;
		height: 80%;
		//border: 2px solid blue;
		background-image: url("../pictures/collage.jpg");
		background-position:center;
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		#home-mobile-logo{
			//border: 2px solid blue;
			width: 65%;
			height: 75%;
			background-image: url("../pictures/brand/logovec4.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			-webkit-filter: invert(100%); filter: invert(100%);
		}
	}
	#home-mobile-footer{
		//border: 2px solid red;
		width: 100%;
		height: 20%;
		min-height: $home-mob-grid-min*.2;
		display: flex;
		justify-content: center;
		align-items: center;
		#portfolio-button-mobile{
			text-align: center;
			text-decoration: none;
			//font-size: 7.5vh;
			font-size: 300%;

			color: $portfolio-btn;
			font-family: Aracne;
			letter-spacing: 0.12em;
			&:hover{
				color: orange; transition: color .15s;
			}
			&:active{
				color: lighten(orange, 25%);
			}
		}



	}

}

.loader-container{
	display: none;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100vh;
	width: 100vw;
}
.loader {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 0px solid #0d283b;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.counter {
  width: 100%;
  line-height: 100px;
  font-size: 24px;
  font-weight: bold;
	font-family: AracneRegular;
  color: #000000;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	min-height: 700px;
		padding:{
			top: 70px;
			bottom:40px;
			right: 25px;
			left: 25px;
		}
	}
header {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	height: 20%;
	align-items: center;
}
/*Logo pieces*/

#brand {
	height: 100%;
	width: auto;
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-items: flex-start;
	a{
		text-decoration: none;
	}
}
#logo-org {
	opacity: 0.5;
	background-image: url(../pictures/brand/logovec-blue.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 100px;
}
#logo-text{
	position: absolute;
	right: 0;
	height: 100%;
	padding-left: 15px;
	margin-left: 15px;

	//centering text
	display: flex;
	flex-direction: column;
  justify-content: flex-start;

	//extending border line upward
		h2 {
			padding-top: 10px;
			margin-bottom: 6px;
			letter-spacing: 0.12em;
			//color: $home-header-color;
			//color: darkblue;
		}
		h3 {
			text-align: right;
			padding-bottom: 10px;
			margin-left: 4px;
			color: $sub-head-color;
			letter-spacing: .05em;
		}
}

/*social media*/
.social-media{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	a{
		text-decoration: none;
	}
}
/*soc 1 == social media icons in header
soc 2 == social media icons in footer*/
#soc2 {
	display: none;
	align-self: center;
	margin:{
		top: 100px;
	}
}

#soc1{
	display: none;
}

/*social media icons*/
.iconcon{
	padding: 3px;
	width: $icon-size;
	height: $icon-size;
	opacity: 0.5;
	&:hover{
		opacity: 1.0;
		transition: opacity .35s;
	}

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


#yt{
	background-image: url(../myicons/ytb.svg);
}

#ig{
	background-image: url(../myicons/igb.svg);
}
#tw{
	background-image: url(../myicons/twitterb.svg);
}
#wp{
	background-image: url(../myicons/wpb.svg);
}

#gh{
	background-image: url(../myicons/ghb.svg);
}
/*Main: Navigation links, portfolio button and footer social media box*/
.index-main {
	display: flex;
	flex-direction: column;
	height: 80%;
}
/*Picture that shows up in mobile version instead of navigation links*/
#profile{
	display: none;
	background-image: url(../pictures/profilemed.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.nav{
	margin-top: 70px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.art_nav {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	/*Text for art navigation*/
	h2, h3 {
		font-family: AracneRegular;
		font-size: 36px !important;
		text-decoration: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: white;
		text-align: center;
		margin: 3px;
	}
}
.imgcontainer{
	width: 200px;
	height: 200px;
	position: relative;
	img {
		max-width: 100%;
		height: auto;
		border-radius:  2px;
		opacity: 0.8;
	}
	//border: 1px solid red;
}
//overlay of mousehover on navigation pictures
.overlay{
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $overlay;
	border-radius:  2px;

}
.color-overlay{
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../pictures/gradient2.jpg");
	background-size: contain;
	opacity: 0.35;
	border-radius:  2px;

}
/*Portfolio link button*/
#box{
//border: 1px solid red;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 70px;
	height: auto;
	align-items: center;

		#portfolio-button{
		text-align: center;
		text-decoration: none;
		font-size: 46px;
		letter-spacing: 0.5em;
		color: $portfolio-btn;
		font-family: Aracne;
		&:hover{
			color: orange; transition: color .15s;
		}
		&:active{
			color: lighten(orange, 25%);
		}
	}
}




/*Slight adjustment to desktop version*/
@media only screen and (max-width: 900px){
	.imgcontainer{
		width: 180px;
		height: auto;
	}
	.art_nav{
		h2, h3{
			font-size: 17px;
		}
	}
}
/*Tablets (Square boxes)*/
@media only screen and (max-width: $cut-off) {
	.grid{
		display: none;
	}
	.index-main{
		height: 80%;
		align-items: center;
	}
	.grid {
		height: 100vh;
		min-height: 0;
		padding:{
			top: 10px;
			bottom:10px;
			right: 0px;
			left: 0px;
		}
	}
	#box{
		padding-top: 30px;
		height: 20vh;
		width: 60%;
		.btn{
			font-size: 4vh;
		}
	}
	.nav {
		flex-flow: row wrap;
		margin-top: 0px;
		height: 60vh;
		width: 60vh;
	}
	.art_nav{
		height: 50%;
		width: 50%;
		h2, h3{
			font-size: 2.5vh;
			text-align: left;
			opacity: 0.6;
			background-color: black;
			top: auto;
			left: 10%;
			bottom: 5%;
			transform: translate(0%, 0%);

		}
	}
	.imgcontainer{
		padding: 10px;
		height: 100%;
		width: auto;

	}

	.row {
		position: static;
		flex-flow: column nowrap;
		height: 20%;
		justify-content: space-around;
	}
	.social-media {
		position: static;
	}
	#brand {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	#logo-cont{
		height: 50%;
		width: 100%;
	}
	#logo-org{
		position: static;
		height: 100%;
		width: 100%;
	}
	#logo-text{
		height: 50%;
		text-align: center;
		justify-content: center;
		padding-left: 0;
		margin-left: 0;
		position: static;
		h2 {
			padding-top: 0px;
			margin-bottom: 0.5vh;
			font-size: 4vh;
		}
		h3{
			text-align: center;
			padding-bottom: 0px;
			margin-left: 0px;
			font-size: 2vh;
		}
	}
}


@media only screen and (max-width: $cut-off) and (orientation:landscape) {

	#box{
		width: 35%;
	}
	.social-media{
	}
}

/*Mobile devices*/
@media only screen and (max-width: 600px) {
	.grid{
		padding-bottom: 35px;
	}

	.social-media {
		width: 90%;
	}
	//center social media links center
	.nav {
		display: none;
	}
	.index-main{
		height: 65%;
	}
	.row{
		height: 35%;
	}
	#brand{
		height: 60%;
	}
	#profile{
		display: block;
		height: 80%;
		width: 100%;
	}

	#soc1{
		max-width: 25em;
		display: flex;
		height: 40%;
	}
	#soc2 {
		display: none;
		align-items: flex-start;
		margin: auto;
		width: 80%;
		height: 10%;
		margin-top: 0px;
	}
	#box{
		width: 100% !important;
		height: 20%;
	}
	.iconcon {
		width: $icon-home;
		height: $icon-home;
	}
}

@media only screen and (max-width: 600px) and (orientation:landscape) {
	.social-media{
		width: 70%;
		max-width: 16em!important;
	}
	#box{
		width: 60%;
		.btn{
			font-size: 3vh;
		}
	}
}

/*Desktop*/
@media only screen and (min-width: $cut-off+1){
		.home-mobile-grid{
			display: none;
		}

		.home-soc-group{
			display: none;
		}

	.art_nav{
		h2, h3 {
			font-family: AracneLight;
			font-size: 40px;
			display: none;
		}
		//changing color of overlay
			&:hover, &:active{
				h2, h3 {
					display: block;
				}
		 	 	.overlay{
		 			opacity: 0.65;
					transition: opacity .25s;
				}
				.color-overlay{
					opacity: 0;
				}
		 	}
	}
}
