/*Stylesheet for about page*/
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400';
@font-face {
  font-family: 'Aracne';
  src: url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.eot?") format("eot"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.woff") format("woff"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.ttf") format("truetype"), url("../Fonts/Arcane/ARACNE-ULTRA-CONDENSED_light.svg#AracneUltraCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneReg";
  src: url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.eot?") format("eot"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.woff") format("woff"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.ttf") format("truetype"), url("../Fonts/AracneReg/ARACNE-ULTRA-CONDENSED_regular.svg#AracneUltraCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneLight";
  src: url("../Fonts/Aracne_Light/ARACNE_light.eot?") format("eot"), url("../Fonts/Aracne_Light/ARACNE_light.woff") format("woff"), url("../Fonts/Aracne_Light/ARACNE_light.ttf") format("truetype"), url("../Fonts/Aracne_Light/ARACNE_light.svg#AracneLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AracneRegular";
  src: url("../Fonts/Aracne_Regular/ARACNE_regular.eot?") format("eot"), url("../Fonts/Aracne_Regular/ARACNE_regular.woff") format("woff"), url("../Fonts/Aracne_Regular/ARACNE_regular.ttf") format("truetype"), url("../Fonts/Aracne_Regular/ARACNE_regular.svg#AracneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: AracneRegular;
  font-size: 60px;
}

h2, a {
  font-family: AracneLight;
  font-size: 40px;
  letter-spacing: .04em;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/*Variables*/
/*Menu*/
/*Nav bar*/
#main-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.link-box {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.link-box a {
  font-family: AracneRegular;
  font-size: 18px;
  color: #35568b;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 90%;
}

.about-container h2 {
  color: #35568b;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: AracneRegular;
}

.about-container h3 {
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}

.box1 {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 h2 {
  text-align: left;
}

.box1 h3 {
  text-align: left;
}

.box2 {
  height: 60%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box2 h2 {
  text-align: center;
}

.box2 h3 {
  text-align: center;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prof {
  width: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../pictures/profile.jpg);
}

@media only screen and (max-width: 1200px) {
  .about-container .box2 {
    width: 95%;
  }
  .about-container h2 {
    font-size: 20px;
  }
  .about-container h3 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  #main-about {
    justify-content: flex-start;
    height: 180vh;
    padding-top: 0px;
  }
  .link-box {
    height: 10%;
  }
  .link-box a {
    font-size: 3vh;
  }
  .about-container {
    height: 90%;
    margin: 0px;
  }
  #container-a {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .box1 {
    padding-top: 0px;
    height: 70vh;
    justify-content: space-around;
    flex-direction: column;
  }
  .box1 h2 {
    text-align: center;
  }
  .box1 h3 {
    text-align: center;
  }
  .box2 {
    height: auto;
    width: 100%;
    justify-content: flex-start;
  }
  .prof {
    height: 40vh;
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .text2, .text {
    padding: 0px 10px 20px 10px;
    height: auto;
  }
  .text2 h2, .text h2 {
    font-size: 5vh;
  }
  .text2 h3, .text h3 {
    font-size: 3vh;
  }
}

@media only screen and (max-width: 600px) {
  .text2 h2, .text h2 {
    font-size: 4.5vh;
  }
  .text2 h3, .text h3 {
    font-size: 2.5vh;
  }
  .link-box {
    height: 10%;
  }
  .link-box a {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 400px) {
  .text2 h2, .text h2 {
    font-size: 3.5vh;
  }
  .text2 h3, .text h3 {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) and (max-height: 600px) {
  #main-about {
    margin-top: 59px;
    height: 240vh;
  }
  .link-box {
    height: 10%;
  }
  .link-box a {
    font-size: 6vh;
  }
  .text2, .text {
    height: auto;
  }
  .text2 h2, .text h2 {
    font-size: 8vh;
  }
  .text2 h3, .text h3 {
    font-size: 4vh;
  }
  .box1 {
    height: 80vh;
    flex-direction: row;
  }
  .box1 h2, .box1 h3 {
    text-align: left;
  }
  .box2 {
    height: 120vh;
  }
  .prof {
    height: 90vh;
  }
  .small h2 {
    font-size: 6.5vh !important;
  }
  .small h3 {
    font-size: 3.5vh !important;
  }
}

@media only screen and (max-width: 700px) and (orientation: landscape) and (max-height: 600px) {
  .link-box {
    height: 10%;
  }
  .link-box a {
    font-size: 5vh;
  }
  .text2, .text {
    height: auto;
  }
  .text2 h2, .text h2 {
    font-size: 6vh;
  }
  .text2 h3, .text h3 {
    font-size: 4.5vh;
  }
  .small h2 {
    font-size: 4.5vh !important;
  }
  .small h3 {
    font-size: 4vh !important;
  }
}

/*
$('.text2 h2').css("font-size","7vh");
$('.text2 h3').css("font-size","5vh");
$('.text h2').css("font-size","7vh");
$('.text h3').css("font-size","5vh");
*/
